<%- include("layout/header.ejs") %>
<main>
  <form action="/" method="post">
    <input type="text" name="pLanguage" placeholder="programming language" />

    <button type="submit">Add</button>
  </form>
  <ul>
    <% if(pLangs.length > 0){ %> <% for(let i = 0; i < pLangs.length; i++){ %>

    <li><%=pLangs[i] %></li>
    <% } %> <%} else { %>
    <p>No programming language</p>
    <% } %>
  </ul>
</main>
<%- include("layout/footer.ejs") %>
